.action-button {
  background-color: #3040c4;
  color: #fff;
  width: 160px;
  height: 48px;
  border-radius: 2px;
  border: none;
  font-size: 18px;
  font-weight: 700;
}

.learn-button {
  background-color: #fff;
  color: #3040c4;
  width: 160px;
  height: 48px;
  border-radius: 2px;
  border: none;
  font-size: 18px;
  font-weight: 700;
}

@media screen and (min-width: 1400px) {
  .hide_desktop {
    display: none;
  }
}

@media screen and (max-width: 1399px) {
  .hide_mobile {
    display: none;
  }
}

.about {
  padding: 46px 15px;
  background: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .about {
    display: flex;
    justify-content: space-around;
    padding: 77px 130px 76px 130px;
  }
}

.article:last-child {
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .article:last-child {
    width: 555px;
    margin-top: 0;
  }
}
.article__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}
.article__text {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 6px;
}
@media screen and (min-width: 1400px) {
  .article {
    width: 555px;
  }
}

.clients {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1400px) {
  .clients {
    width: 1140px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 106px;
  }
}
.clients__row {
  display: flex;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .clients__row {
    display: flex;
    flex: 1;
    justify-content: space-around;
  }
}
.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 107px;
  height: 94px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  flex-direction: row;
}
@media screen and (min-width: 1400px) {
  .clients__item {
    border: none;
  }
}
.clients__item:last-child {
  border-right: none;
}
.clients__logo {
  filter: brightness(0);
  max-width: 80%;
}

.communication {
  width: 100%;
  /* Content section  */
  /* Banner  section */
  /* Benefits section */
}
@media screen and (min-width: 1400px) {
  .communication {
    width: 1400px;
  }
}
@media screen and (min-width: 1400px) {
  .communication .communication__column {
    margin-top: 123px;
    flex: 50%;
    text-align: left;
  }
}
.communication__content {
  padding: 50px 15px;
}
@media screen and (min-width: 1400px) {
  .communication__content {
    width: 1140px;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 110px;
  }
}
.communication__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #0189d1;
  margin-bottom: 17px;
  margin-top: 0;
}
.communication__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  margin: 17px 0 18px;
}
@media screen and (min-width: 1400px) {
  .communication__title {
    width: 462px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.communication__description {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1400px) {
  .communication__description {
    width: 461px;
  }
}
.communication__banner-col {
  margin: 40px 0;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .communication__banner-col {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    flex: 50%;
    margin-top: 110px;
    margin-bottom: 26px;
  }
}
.communication__banner {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1400px) {
  .communication__banner {
    width: 425px;
    height: 426px;
  }
}
.communication__advantage {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #2b292d99;
}
@media screen and (min-width: 1400px) {
  .communication__advantage {
    margin-top: 15px;
  }
}
.communication__line {
  background-color: #0000001a;
  height: 1px;
  border: none;
  width: 150px;
  margin-left: 0;
}
.communication__benefits {
  margin-top: 33px;
}
@media screen and (min-width: 1400px) {
  .communication__benefits {
    display: flex;
    margin-top: 41;
  }
}
.communication__benefit {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 0;
  margin-top: 33px;
}
@media screen and (min-width: 1400px) {
  .communication__benefit {
    margin-right: 30px;
    margin-top: 0;
    flex: 1;
  }
}
.communication__engage {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}
@media screen and (min-width: 1400px) {
  .communication .communication__start-btn {
    margin-top: 39px;
  }
}

.features {
  display: flex;
  position: relative;
}
@media screen and (max-width: 1399px) {
  .features {
    display: none;
  }
}
.features__content {
  width: 1140px;
  margin: auto;
  display: flex;
  position: relative;
}
.features__column {
  width: 459px;
}
.features__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
  margin: 0;
}
.features__title {
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-top: 24px;
  margin-bottom: 0;
}
.features__description {
  font-size: 24px;
  line-height: 34px;
  margin-top: 30px;
  margin-bottom: 0;
}
.features__advantage-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #3142c6;
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
}
.features__advantage-description {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 3px solid #3142c6;
}
.features__advantage-header {
  display: flex;
  align-items: center;
  margin-top: 42px;
}
.features__advantage-item {
  margin-top: 21px;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(43, 41, 45, 0.15);
  display: flex;
}
.features__advantage-item:last-child {
  margin-bottom: 110px;
}
.features__advantage-item-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}
.features__left-decoration {
  height: 166px;
  position: absolute;
  top: 258px;
}
.features__banner {
  position: absolute;
  right: 0;
}

.feedback {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  border-bottom: 1px solid #e3e3e3;
  /* Main content */
  /* Swipe section */
}
.feedback__content {
  padding: 39px 15px 0 15px;
  display: flex;
  flex-direction: column;
  align-items: left;
  position: relative;
}
@media screen and (min-width: 1400px) {
  .feedback__content {
    align-items: center;
  }
}
.feedback__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #3142c6;
}
.feedback__description {
  font-size: 24px;
  line-height: 34px;
  margin: 29px 0 32px;
}
@media screen and (min-width: 1400px) {
  .feedback__description {
    width: 750px;
    text-align: center;
  }
}
.feedback__user-info {
  margin-bottom: 40px;
}
@media screen and (min-width: 1400px) {
  .feedback__user-info {
    text-align: center;
  }
}
.feedback__user-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
.feedback__user-job {
  font-size: 16px;
  line-height: 24px;
  color: #2b292d99;
}
.feedback__swipe {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.feedback__swipe-dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #2b292d33;
  margin-right: 19.5px;
}
.feedback__swipe-dot_selected {
  background-color: #3142c5;
}
.feedback__banner {
  max-width: 100%;
  height: auto;
  margin: auto;
}
@media screen and (min-width: 1400px) {
  .feedback__banner {
    position: absolute;
    top: 229px;
    right: 25px;
  }
}

/*footer block*/
/*Footer navigation block*/
.about-company {
  margin-top: 44px;
}

.downloads {
  margin: 25px 15px 0;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1400px) {
  .downloads {
    margin: 0;
    margin-top: 25px;
    justify-content: left;
  }
}
.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .additional-navigation {
    margin-top: 60px;
    flex-direction: row;
    margin-left: auto;
  }
}
.additional-navigation__column {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .additional-navigation__column {
    margin-top: 0;
    margin-right: 29px;
  }
}

.nav-links {
  width: 265px;
}
.nav-links__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
}
.nav-links__list {
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  color: #2b292d99;
  margin: 0;
  padding: 0;
  padding-top: 18px;
}

/*Footer terms block*/
.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.footer__description {
  display: none;
  line-height: 26px;
  font-size: 18px;
  width: 360px;
  margin-top: 26px;
  color: #2b292d99;
}
@media screen and (min-width: 1400px) {
  .footer__description {
    display: block;
  }
}
.footer__line {
  border-top: 0.5px solid #2b292d;
  width: 100%;
  opacity: 0.1;
  margin: 0;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .footer__line {
    margin: 0;
  }
}
@media screen and (max-width: 1399px) {
  .footer .logo {
    display: none;
  }
}

.footer-navigation {
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer-navigation {
    margin: 0 auto;
    height: 338px;
    width: 1140px;
    display: flex;
    flex-direction: row;
  }
}

.footer-links {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer-links {
    width: 1140px;
    height: 50px;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
  }
}

.terms {
  font-size: 14px;
  line-height: 22px;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .terms {
    line-height: 50px;
    margin-top: 0;
  }
}
.terms__item {
  text-decoration: none;
  color: #2b292d99;
  margin-right: 22px;
}

/* Social links*/
.social-links {
  margin-top: 30px;
  margin-bottom: 23px;
}
@media screen and (min-width: 1400px) {
  .social-links {
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0;
  }
}
.social-links__item {
  margin-left: 20px;
}
.social-links__item:first-child {
  margin-left: 0;
}

/*Logo for mobile */
.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__image {
  width: 60px;
  height: 60px;
}
.logo-vertical__title {
  margin-top: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #2b292d;
}
.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #2b292d99;
}

/* Top section*/
.top-section {
  background-color: #f3c6bd;
}
@media screen and (min-width: 1400px) {
  .top-section {
    background-color: #f3c6bd;
    padding-top: 39px;
  }
}

/*Menu Block*/
.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .header {
    background-color: #f3c6bd;
    width: 1140px;
    margin: auto;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header__button {
    display: block;
  }
}
.header__menu-button {
  width: 58px;
  border: none;
  border-left: 1px solid #00000026;
  height: 100%;
  margin-left: auto;
  background: transparent;
}
@media screen and (min-width: 1400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-icon {
  width: 18px;
  height: 13px;
  background-image: url("../img/icon-hamburger.png");
  display: inline-block;
}

/*Nav block*/
.navigation {
  display: none;
}
@media screen and (min-width: 1400px) {
  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
}
.navigation__item {
  color: #2b292d;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__arrow {
  display: inline-block;
  height: 5px;
  width: 8px;
  background-image: url(../img/arrow.png);
  margin-left: 11px;
}

/*Logo Block*/
.logo {
  display: flex;
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .logo__description {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #2b292d;
    opacity: 0.6;
    font-weight: bold;
  }
}
.logo__name {
  line-height: 25px;
  font-size: 20px;
  font-weight: 700;
}
.logo__image {
  width: 48px;
  height: 48px;
  margin-right: 13px;
  margin-left: 15px;
}
@media screen and (min-width: 1400px) {
  .logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}

.headline {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline {
    width: 1140px;
    margin: auto;
    margin-top: 84px;
    display: flex;
    padding-bottom: 77px;
  }
}
.headline__content {
  margin: 35px 15px 33px 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .headline__content {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
}
.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    width: 764px;
    height: 165px;
    line-height: 78px;
    letter-spacing: -0.5px;
    font-size: 80px;
    margin: 0;
  }
}
.headline__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    margin-top: 34px;
    width: 456px;
    height: 102px;
    z-index: 1;
  }
}
.headline__actions {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .headline__actions {
    margin-top: 58px;
    display: flex;
    flex-direction: row;
  }
}
.headline__learn-more-btn {
  background-color: #fff;
  color: #3040c4;
  width: 100%;
  height: 48px;
  border-radius: 2px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .headline__learn-more-btn {
    margin-left: 10px;
    margin-top: 0;
    width: 158px;
  }
}
.headline__action-button {
  background-color: #3040c4;
  color: #fff;
  width: 100%;
  height: 48px;
  border-radius: 2px;
  border: none;
  font-size: 18px;
  font-weight: 700;
}
@media screen and (min-width: 1400px) {
  .headline__action-button {
    width: 160px;
  }
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}
@media screen and (min-width: 1400px) {
  .headline__banner {
    position: relative;
    right: -105px;
    top: 0;
    width: 796px;
    height: 448px;
    margin-left: auto;
  }
}

.inbox {
  width: 100%;
  background: #fcf0e3;
  /* Banner section */
  /* Header section */
  /*feedback section */
}
@media screen and (min-width: 1400px) {
  .inbox__column {
    margin-top: 115px;
  }
}
.inbox__content {
  display: flex;
  flex-direction: column;
  padding: 50px 15px;
}
@media screen and (min-width: 1400px) {
  .inbox__content {
    padding: 0;
    display: flex;
    flex-direction: row;
  }
}
.inbox__banner-column {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .inbox__banner-column {
    margin: 142px 0 101px 163px;
  }
}
.inbox__banner {
  min-width: 100%;
  height: auto;
}
.inbox__advantage {
  display: none;
}
@media screen and (min-width: 1400px) {
  .inbox__advantage {
    display: block;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
    margin-top: 15px;
  }
}
.inbox__subtitle {
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  color: #f1592b;
  margin-top: 32px;
  margin-bottom: 17px;
}
@media screen and (min-width: 1400px) {
  .inbox__subtitle {
    margin: 0;
    margin-left: 192px;
  }
}
.inbox__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
@media screen and (min-width: 1400px) {
  .inbox__title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    width: 462px;
    margin: 24px 0 30px 190px;
  }
}
.inbox__description {
  font-size: 24px;
  line-height: 34px;
  margin-top: 18px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1400px) {
  .inbox__description {
    width: 461px;
    margin: 0 0 44px 192px;
  }
}
.inbox__feedback {
  padding: 30px 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 1400px) {
  .inbox__feedback {
    width: 519px;
    padding: 30px 30px;
    margin-left: 164px;
    border-bottom: 4px solid #0185d0;
  }
}
.inbox__comment {
  font-size: 20px;
  line-height: 28px;
}
.inbox__user {
  display: flex;
}
@media screen and (min-width: 1400px) {
  .inbox__user {
    margin-top: 26px;
  }
}
.inbox__user-avatar {
  width: 40px;
  height: 40px;
  /* border-radius: 100%; */
  margin-right: 11px;
}
.inbox__user-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
  margin-top: 0;
}
.inbox__user-job {
  font-size: 16px;
  line-height: 22px;
  color: #2b292d80;
}

.tips {
  margin-top: 8px;
}
@media screen and (min-width: 1400px) {
  .tips {
    display: none;
  }
}

.tip {
  padding: 40px 15px 0;
  border-bottom: 1px solid #e3e3e3;
}
.tip__subtitle {
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
}
.tip__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
.tip__description {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 13px;
}
.tip__decoration {
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tip__image {
  margin-top: 20px;
  max-width: 100%;
}
.tip__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #2b292d99;
  margin-top: 20px;
}

.users {
  width: 100%;
  background: rgba(0, 161, 198, 0.07);
}
.users__content {
  display: flex;
  flex-direction: column;
  padding: 50px 15px 50px 15px;
}
.users__subtitle {
  text-align: center;
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
}
.users__title {
  text-align: center;
  margin: 17px 0 18px 0;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.36px;
}
@media screen and (min-width: 1400px) {
  .users__title {
    margin: 24px 0 30px 0;
  }
}
.users__description {
  text-align: center;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
}
.users__buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1400px) {
  .users__buttons {
    flex-direction: row;
    margin: auto;
    margin-top: 34px;
  }
}
.users__start-btn {
  width: 100%;
  height: 48px;
  border-radius: 2px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  background-color: #3040c4;
  color: #fff;
}
@media screen and (min-width: 1400px) {
  .users__start-btn {
    width: 160px;
    margin-right: 10px;
  }
}
.users__learn-btn {
  width: 100%;
  height: 48px;
  margin-top: 12px;
  border-radius: 2px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  background-color: #fff;
  color: #3040c4;
}
@media screen and (min-width: 1400px) {
  .users__learn-btn {
    width: 158px;
    margin-top: 0;
  }
}
.users__types {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .users__types {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 110px;
  }
}
.users__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-bottom: 15px;
  padding-top: 22px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  cursor: pointer;
}
@media screen and (min-width: 1400px) {
  .users__card {
    margin-right: 15px;
    margin-bottom: 0;
    width: 262px;
  }
}
.users__card_selected {
  background-color: #3141c5;
}
.users__card:last-child {
  margin-bottom: 0;
}
.users__card-title {
  width: 100%;
  height: 100%;
  margin-top: 22px;
  margin-bottom: 33px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  color: #2b292d;
}
.users__card-title_selected {
  color: white;
}
@media screen and (min-width: 1400px) {
  .users__text {
    width: 555px;
    margin: auto;
  }
}

.order {
  padding: 50px 15px;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .order {
    padding: 73px 0 72px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.order__details {
  max-width: 555px;
}
.order__illustration {
  max-width: 200px;
  display: flex;
  margin: auto;
}
@media screen and (min-width: 1400px) {
  .order__illustration {
    max-width: 269px;
    margin: 0;
    margin-right: 121px;
  }
}
.order__title {
  margin-top: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.25px;
  text-align: center;
}
.order__text {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  height: 48px;
  width: 100%;
  margin-top: 40px;
  background: #ffffff;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 2px;
  text-align: center;
  box-sizing: border-box;
}
@media screen and (min-width: 1400px) {
  .order__email {
    margin-top: 0;
  }
}
.order__email::placeholder {
  color: #2b292d;
}
.order__button {
  margin-top: 12px;
}
@media screen and (max-width: 1399px) {
  .order__button {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .order__button {
    margin-top: 0;
    margin-left: 10px;
    flex-shrink: 0;
  }
}
.order__terms {
  font-size: 14px;
  line-height: 22px;
  color: #2b292d99;
}
.order__terms-link {
  color: #3142c6;
}

body {
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

/*Page container*/
.page {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .page {
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
