.action-button {
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  background-color: $button-color-blue;
  color: $background-color-white;
}

.learn-button {
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  background-color: $background-color-white;
  color: $button-color-blue;
}

.hide_desktop {
  @include for-large-up {
    display: none;
  }
}

.hide_mobile {
  @include for-large-down {
    display: none;
  }
}
