.feedback {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  border-bottom: 1px solid #e3e3e3;

  &__content {
    padding: 39px 15px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    @include for-large-up {
      align-items: center;
    }
  }
  /* Main content */

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #3142c6;
  }
  &__description {
    font-size: 24px;
    line-height: 34px;
    margin: 29px 0 32px;

    @include for-large-up {
      width: 750px;
      text-align: center;
    }
  }
  &__user-info {
    margin-bottom: 40px;
    @include for-large-up {
      text-align: center;
    }
  }

  &__user-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }

  &__user-job {
    font-size: 16px;
    line-height: 24px;
    color: #2b292d99;
  }

  /* Swipe section */

  &__swipe {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__swipe-dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #2b292d33;
    margin-right: 19.5px;

    &_selected {
      background-color: #3142c5;
    }
  }

  &__banner {
    max-width: 100%;
    height: auto;
    margin: auto;
    @include for-large-up {
      position: absolute;
      top: 229px;
      right: 25px;
    }
  }
}
