$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;
$text-color-blue: #3142c6;

$color-dark: #2b292d;

$background-color-light: #f4f5f7;
$background-color-white: #ffffff;
$background-color-light-pink: #f3c6bd;

$border-color-grey: rgba(43, 41, 45, 0.2);
$border-color-light-grey: #e3e3e3;

$button-color-blue: #3040c4;

$paragraph-font-size-big: 24px;
$paragraph-line-height-big: 34px;

$paragraph-font-size-medium: 24px;
$paragraph-line-height-medium: 34px;
